.contact{

    margin-top: 150px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contactinformation{

    margin-top: 70px;
    /*margin-left: 50px;*/
    font-family: Gruppo;
    font-weight: bolder;
    font-size: 60px;
    color: black;
    background-color: darkslategray;
}

.fontcontatc{

    margin-top: 50px;
    font-weight: bolder;
    font-family: Gruppo;
    font-size: 30px;
}

.icons{

    margin: 10px;
    display: flex;
    flex-direction: row;
}

.marginincons{

    margin: 10px;
}
@media (max-width: 1085px){

    .contact{
        display: block;
    }
    .contactinformation{
        padding-top: 60px;
        width: 80%;
    }
    .fontcontatc{
        margin-top: 1px;
        width: 80%;
    }
}
@media (max-width: 950px){



}